In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
import pandas as pd

In [2]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df.head()

,Year,LocationAbbr,LocationDesc,Question,DataValue,StratificationCategory1,Stratification1,GeoLocation
0,2013,AL,Alabama,Prevalence of high blood pressure among adults...,79.4,Gender,Female,"(32.84057112200048, -86.63186076199969)"
1,2015,AL,Alabama,Prevalence of high blood pressure among adults...,78.6,Gender,Female,"(32.84057112200048, -86.63186076199969)"
2,2011,AL,Alabama,Prevalence of high blood pressure among adults...,78.1,Gender,Female,"(32.84057112200048, -86.63186076199969)"
3,2011,AL,Alabama,Prevalence of high blood pressure among adults...,77.8,Overall,Overall,"(32.84057112200048, -86.63186076199969)"
4,2013,AL,Alabama,Prevalence of high blood pressure among adults...,77.6,Overall,Overall,"(32.84057112200048, -86.63186076199969)"

In [5]:
class Data(Base):
    __tablename__ = 'data'
    id = Column(Integer, primary_key=True)
    Year = Column(Integer)
    LocationAbbr = Column(String(255))
    LocationDesc = Column(String(255))
    Question = Column(String(255))
    DataValue = Column(Float)
    StratificationCategory1 = Column(String(255))
    Stratification1 = Column(String(255))
    GeoLocation = Column(String(255))

In [6]:
engine = create_engine("sqlite:///diabetes.sqlite")
conn = engine.connect()

In [7]:
Base.metadata.create_all(conn)

In [8]:
session = Session(bind=engine)

In [9]:
x = 1

In [10]:
for index, row in df.iterrows():
    data = Data(
        id = x,
        Year=row["Year"],
        LocationAbbr = row["LocationAbbr"],
        LocationDesc = row["LocationDesc"],
        Question = row["Question"],
        DataValue = row["DataValue"],
        StratificationCategory1 = row["StratificationCategory1"],
        Stratification1 = row["Stratification1"],
        GeoLocation = row["GeoLocation"])
    session.add(data)
    session.commit()
    x +=1

In [14]:
df = pd.read_sql_query("SELECT * FROM data",conn)

In [16]:
df

,id,Year,LocationAbbr,LocationDesc,Question,DataValue,StratificationCategory1,Stratification1,GeoLocation
0,1,2013,AL,Alabama,Prevalence of high blood pressure among adults...,79.4,Gender,Female,"(32.84057112200048, -86.63186076199969)"
1,2,2015,AL,Alabama,Prevalence of high blood pressure among adults...,78.6,Gender,Female,"(32.84057112200048, -86.63186076199969)"
2,3,2011,AL,Alabama,Prevalence of high blood pressure among adults...,78.1,Gender,Female,"(32.84057112200048, -86.63186076199969)"
3,4,2011,AL,Alabama,Prevalence of high blood pressure among adults...,77.8,Overall,Overall,"(32.84057112200048, -86.63186076199969)"
4,5,2013,AL,Alabama,Prevalence of high blood pressure among adults...,77.6,Overall,Overall,"(32.84057112200048, -86.63186076199969)"
5,6,2011,AL,Alabama,Prevalence of high blood pressure among adults...,77.5,Gender,Male,"(32.84057112200048, -86.63186076199969)"
6,7,2015,AL,Alabama,Prevalence of high blood pressure among adults...,77.3,Overall,Overall,"(32.84057112200048, -86.63186076199969)"
7,8,2015,AL,Alabama,Prevalence of high blood pressure among adults...,75.8,Gender,Male,"(32.84057112200048, -86.63186076199969)"
8,9,2013,AL,Alabama,Prevalence of high blood pressure among adults...,75.6,Gender,Male,"(32.84057112200048, -86.63186076199969)"
9,10,2011,AL,Alabama,Prevalence of high cholesterol among adults ag...,75.3,Gender,Male,"(32.84057112200048, -86.63186076199969)"
10,11,2011,AL,Alabama,Prevalence of high cholesterol among adults ag...,74.0,Overall,Overall,"(32.84057112200048, -86.63186076199969)"
11,12,2011,AL,Alabama,Prevalence of high cholesterol among adults ag...,72.9,Gender,Female,"(32.84057112200048, -86.63186076199969)"
12,13,2013,AL,Alabama,Prevalence of high cholesterol among adults ag...,70.1,Gender,Female,"(32.84057112200048, -86.63186076199969)"
13,14,2015,AL,Alabama,Prevalence of high cholesterol among adults ag...,68.7,Gender,Male,"(32.84057112200048, -86.63186076199969)"
14,15,2015,AL,Alabama,Prevalence of high cholesterol among adults ag...,68.2,Overall,Overall,"(32.84057112200048, -86.63186076199969)"
15,16,2015,AL,Alabama,Prevalence of high cholesterol among adults ag...,67.9,Gender,Female,"(32.84057112200048, -86.63186076199969)"
16,17,2013,AL,Alabama,Prevalence of high cholesterol among adults ag...,67.8,Overall,Overall,"(32.84057112200048, -86.63186076199969)"
17,18,2013,AL,Alabama,Prevalence of high cholesterol among adults ag...,65.3,Gender,Male,"(32.84057112200048, -86.63186076199969)"
18,19,2013,AK,Alaska,Prevalence of high blood pressure among adults...,82.3,Gender,Male,"(64.84507995700051, -147.72205903599973)"
19,20,2011,AK,Alaska,Prevalence of high blood pressure among adults...,77.2,Gender,Female,"(64.84507995700051, -147.72205903599973)"
20,21,2013,AK,Alaska,Prevalence of high blood pressure among adults...,75.9,Overall,Overall,"(64.84507995700051, -147.72205903599973)"
21,22,2013,AK,Alaska,Prevalence of high cholesterol among adults ag...,74.2,Gender,Male,"(64.84507995700051, -147.72205903599973)"
22,23,2015,AK,Alaska,Prevalence of high blood pressure among adults...,71.1,Gender,Male,"(64.84507995700051, -147.72205903599973)"
23,24,2011,AK,Alaska,Prevalence of high blood pressure among adults...,70.3,Overall,Overall,"(64.84507995700051, -147.72205903599973)"
24,25,2013,AK,Alaska,Prevalence of high cholesterol among adults ag...,69.5,Overall,Overall,"(64.84507995700051, -147.72205903599973)"
25,26,2013,AK,Alaska,Prevalence of high blood pressure among adults...,68.2,Gender,Female,"(64.84507995700051, -147.72205903599973)"
26,27,2011,AK,Alaska,Prevalence of high cholesterol among adults ag...,66.2,Gender,Male,"(64.84507995700051, -147.72205903599973)"
27,28,2015,AK,Alaska,Prevalence of high blood pressure among adults...,63.9,Overall,Overall,"(64.84507995700051, -147.72205903599973)"
28,29,2013,AK,Alaska,Prevalence of high cholesterol among adults ag...,63.9,Gender,Female,"(64.84507995700051, -147.72205903599973)"
29,30,2011,AK,Alaska,Prevalence of high blood pressure among adults...,63.4,Gender,Male,"(64.84507995700051, -147.72205903599973)"
...,...,...,...,...,...,...,...,...,...
1917,1918,2011,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,67.4,Gender,Female,"(44.39319117400049, -89.81637074199966)"
1918,1919,2011,WI,Wisconsin,Prevalence of high blood pressure among adults...,67.2,Overall,Overall,"(44.39319117400049, -89.81637074199966)"
1919,1920,2015,WI,Wisconsin,Prevalence of high blood pressure among adults...,66.7,Overall,Overall,"(44.39319117400049, -89.81637074199966)"
1920,1921,2015,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,65.0,Overall,Overall,"(44.39319117400049, -89.81637074199966)"
1921,1922,2013,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,64.5,Gender,Male,"(44.39319117400049, -89.81637074199966)"
1922,1923,2011,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,64.0,Overall,Overall,"(44.39319117400049, -89.81637074199966)"
1923,1924,2013,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,63.5,Overall,Overall,"(44.39319117400049, -89.81637074199966)"
1924,1925,2015,WI,Wisconsin,Prevalence of high blood pressure among adults...,62.7,Gender,Male,"(44.39319117400049, -89.81637074199966)"
1925,1926,2013,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,62.7,Gender,Female,"(44.39319117400049, -89.81637074199966)"
1926,1927,2011,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,60.1,Gender,Male,"(44.39319117400049, -89.81637074199966)"
1927,1928,2015,WI,Wisconsin,Prevalence of high cholesterol among adults ag...,60.0,Gender,Male,"(44.39319117400049, -89.81637074199966)"
1928,1929,2011,WI,Wisconsin,Prevalence of high blood pressure among adults...,59.4,Gender,Male,"(44.39319117400049, -89.81637074199966)"
1929,1930,2011,WY,Wyoming,Prevalence of high blood pressure among adults...,73.0,Gender,Female,"(43.23554134300048, -108.10983035299967)"
1930,1931,2015,WY,Wyoming,Prevalence of high blood pressure among adults...,72.7,Gender,Female,"(43.23554134300048, -108.10983035299967)"
1931,1932,2011,WY,Wyoming,Prevalence of high blood pressure among adults...,71.9,Overall,Overall,"(43.23554134300048, -108.10983035299967)"
1932,1933,2015,WY,Wyoming,Prevalence of high blood pressure among adults...,71.8,Overall,Overall,"(43.23554134300048, -108.10983035299967)"
1933,1934,2013,WY,Wyoming,Prevalence of high blood pressure among adults...,71.2,Gender,Male,"(43.23554134300048, -108.10983035299967)"
1934,1935,2015,WY,Wyoming,Prevalence of high blood pressure among adults...,71.1,Gender,Male,"(43.23554134300048, -108.10983035299967)"
1935,1936,2011,WY,Wyoming,Prevalence of high blood pressure among adults...,70.9,Gender,Male,"(43.23554134300048, -108.10983035299967)"
1936,1937,2015,WY,Wyoming,Prevalence of high cholesterol among adults ag...,70.3,Gender,Female,"(43.23554134300048, -108.10983035299967)"
1937,1938,2011,WY,Wyoming,Prevalence of high cholesterol among adults ag...,68.2,Gender,Female,"(43.23554134300048, -108.10983035299967)"
1938,1939,2013,WY,Wyoming,Prevalence of high blood pressure among adults...,67.1,Overall,Overall,"(43.23554134300048, -108.10983035299967)"
1939,1940,2015,WY,Wyoming,Prevalence of high cholesterol among adults ag...,66.2,Overall,Overall,"(43.23554134300048, -108.10983035299967)"
1940,1941,2015,WY,Wyoming,Prevalence of high cholesterol among adults ag...,63.2,Gender,Male,"(43.23554134300048, -108.10983035299967)"
1941,1942,2013,WY,Wyoming,Prevalence of high blood pressure among adults...,63.0,Gender,Female,"(43.23554134300048, -108.10983035299967)"
1942,1943,2011,WY,Wyoming,Prevalence of high cholesterol among adults ag...,62.4,Overall,Overall,"(43.23554134300048, -108.10983035299967)"
1943,1944,2013,WY,Wyoming,Prevalence of high cholesterol among adults ag...,62.0,Gender,Female,"(43.23554134300048, -108.10983035299967)"
1944,1945,2013,WY,Wyoming,Prevalence of high cholesterol among adults ag...,60.2,Overall,Overall,"(43.23554134300048, -108.10983035299967)"
1945,1946,2013,WY,Wyoming,Prevalence of high cholesterol among adults ag...,58.5,Gender,Male,"(43.23554134300048, -108.10983035299967)"
1946,1947,2011,WY,Wyoming,Prevalence of high cholesterol among adults ag...,57.3,Gender,Male,"(43.23554134300048, -108.10983035299967)"